DATASCOUT_API_URL=
EDGAR_IDENTITY=

SINGLESTORE_HOST=
SINGLESTORE_PORT=
SINGLESTORE_DATABASE=
SINGLESTORE_USER=
SINGLESTORE_PASSWORD=
SINGLESTORE_SSL_CA=singlestore_bundle.pem
OPENAI_API_KEY=
DATASCOUT_SQL_MODEL=gpt-4.1-mini
